* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}




body {
  background-image: url('/images/home.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.heading {
  display: flex;
  flex-direction: column;
}

.intro {
  text-align: center;
  position: relative;
  top: 28vh;
  font-family: 'VT323', monospace;
  font-size: 2.5rem;
}
.enter {
  text-align: center;
  position: relative;
  top: 32vh;
}

.enter button {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  font-family: 'VT323', monospace;
  font-size: 1.25rem;
}
